.field--items--show-more--1 details summary span.detail-summary-open {
  display: none;
}

.field--items--show-more--1 details summary span.detail-summary-closed {
  display: block;
}

.field--items--show-more--1 details[open] summary span.detail-summary-open {
  display: block;
}

.field--items--show-more--1 details[open] summary span.detail-summary-closed {
  display: none;
}

.field--items--show-more--1 details {
  position: relative;
  margin: 0;
  border: 0;
}

.field--items--show-more--1 details[open] summary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
