{#
/**
 * @file
 * Default theme implementation for an 'options' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the options element.
 * - options: List of allowed options (render array)
 * - settings: Additional settings (render array)
 *
 * @see template_preprocess_options()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }} >
    {{ options }}
    {{ settings }}
</div>