{#
/**
 * @file entity_views_filter.html.twig
 * Default theme implementation to present Entity views filter data.
 *
 * This template is used when viewing Entity views filter pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_views_filter()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entity_views_filter') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
