{#
/**
 * @file relational_entity.html.twig
 * Default theme implementation to present Relational entity data.
 *
 * This template is used when viewing Relational entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_relational_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('relational_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
